

ul li a {
  display: block;
  color: white;
  padding: 25px 20px;
  text-decoration: none;
  text-size: 200%;
}

ul li a.active {
  background-color: #27B7F5;
}

ul li a:hover {
  background-color: #27B7F5;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
   background-color: #1100FF;
  display: flex;
  justify-content: left;
}

img.notfish {
  opacity: 0.5;
}

img.notfish:hover {
  opacity: 1.0;
}

h2 { text-align: center;}

h2 {
  color: white;
}



h2 { text-align: center;}

div.relative {
  position: relative;
  left: 550px;
  color: blue;}

form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

label {display: block;}

input[type=text], select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
h1 { text-align: center;}

h1 {
  color: white;
}

div.gallery {
  display: flex;
  flex-wrap: wrap;
  gap:30px;
  justify-content: center;
}

div.gallery-item {
  margin: 5px;
  border: 1px solid #ccc;
  width: 700px;
}

div.gallery-item:hover {
  border: 1px solid #777;
}

div.gallery-item img {
  width: 100%;
  height: auto;

}

div.gallery-item div.desc {
  padding: 15px;
  text-align: center;
}
footer {
  background-color: #f1f1f1;
  padding: 8px;
  text-align: center;
    position: bottom;
  bottom: 100%;
  width: 100%;
  opacity: 0.8;
}

img.sadfish{
  opacity: 0.2;}


img.sadfish:hover{
  opacity: 1.0;
}

div.gallery-items {
  margin: 5px;
  border: 1px solid #ccc;
  width: 550px;
  height: 680px;
}

div.gallery-items:hover {
  border: 1px solid #777;
}

div.gallery-items img {
  width: 100%;
  height: auto;

}

div.gallery-items div.desc {
  padding: 15px;
  text-align: center;
}
div.gallery-itemt div.desc{
  opacity: 0.5;}


div.gallery-itemt div.desc:hover{
  opacity: 1.0;
}
div.gallery-itemt {
  margin: 5px;
  border: 1px solid #ccc;
  width: 1000px;
  height: 680px;

}

div.gallery-itemt:hover {
  border: 1px solid #777;
}

div.gallery-itemt img {
  width: 100%;
  height: auto;

}

div.gallery-itemt div.desc {
  padding: 15px;
}
.divs {
  width: 1890px;
  background-color: blue;
  height: 700px;
  margin: 40px 0;
  align: center;
  opacity: 0.6;
}
.q { width: 590px;
height: 700px;
 }