

ul li a {
  display: block;
  color: white;
  padding: 18px 16px;
  text-decoration: none;
}
ul li a.active {
  background-color: #27B7F5;
}
ul li a:hover {
  background-color: #27B7F5;
}ul

 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #1100FF;
  display: flex;
  justify-content: left;
}

h2 {
  color: white;
}

body {
  background-image: url("image/lebon bon.jpeg");
  background-repeat: no-repeat;
  background-size: 100%

}
h2 { text-align: center;}